.cardButton {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0 , 0, 0.15);
  border: solid 1px rgba(255, 255 , 255, 0.5);
  backdrop-filter: blur(12px);
  width: 250px;
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

.cardButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0 , 0, 0.15);
}

@media (max-width: 640px) {
  .cardButton {
    width: 100%;
  }
}