.item {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.itemBox {
  border: solid 1px rgba(255, 255 , 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0 , 0, 0.15);
  backdrop-filter: blur(12px);
  width: 250px;
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  position: relative;
}

.itemBox > div:nth-child(2) {
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.itemBox:hover, .startButton:hover, .menuIcon:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0 , 0, 0.15);
}

.startButton {
  height: 2rem;
  width: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.menuIcon {
  height: 15%;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 8px;
}

@media (max-width: 640px) {
  .itemBox {
    width: 100%;
  }
}