:root {
  --bg-color: #ffffff;
  --text-main: #1f2937;
  --text-sub: #4b5563;
  --card-bg: rgba(255, 255, 255, 0.151);
  --card-border: #e5e7eb;
  --input-bg: #ffffff;
  --input-border: #d1d5db;
  --accent-color: #4f46e5;
  --accent-hover: #4338ca;
  --error-color: #ef4444; /* Added for error message */
}

/* Dark Mode Variables */
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111827;
    --text-main: #ffffff;
    --text-sub: #9ca3af;
    --card-bg: rgba(31, 41, 55, 0.5);
    --card-border: #374151;
    --input-bg: #374151;
    --input-border: #4b5563;
    --accent-color: #6366f1;
    --accent-hover: #818cf8;
  }
} */