.functionBar {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-grey);
  padding: 8px;
}